<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432267461728-8im86dpi0bvlshqm83qtj2eb23fthvvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432267461728-8im86dpi0bvlshqm83qtj2eb23fthvvk</string>
	<key>API_KEY</key>
	<string>AIzaSyAu7jqAD7mijt-JHrS7N2NwIDH3VSZQLuw</string>
	<key>GCM_SENDER_ID</key>
	<string>432267461728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onurcansever.beCatified</string>
	<key>PROJECT_ID</key>
	<string>becatified</string>
	<key>STORAGE_BUCKET</key>
	<string>becatified.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432267461728:ios:930fcc1602845892006f05</string>
</dict>
</plist>